<nav class='nav'>
  <section class='container'>
    <!-- TODO mobile only 
    <button>☰</button>
    <nav class='menu'>
      <ul>
        <li>
          <button onclick='alert('Hello there!')'>
            Display Greeting
          </button>
        </li>
        <li>
          <button onclick='print()'>
            Print This Page
          </button>
        </li>
      </ul>
    </nav>
    -->
    <a class='nav-title' href='/index.html'>
      <!-- Attribution: https://en.m.wikipedia.org/wiki/File:HAL9000.svg -->
      <image loading='lazy' class='nav-title-darkerweb-ai' src='/images/darkerweb_hal9000.png'/>
    </a>
    <ul class='nav-list float-right'>
      <li class='nav-item'><a class='nav-link' href='/index.html'>#thingsivemade</a></li>
      <li class='nav-item'><a class='nav-link' href='/about.html'>About</a></li>
    </ul>
  </section>
</nav>