<nav class='nav'>
  <section class='container'>
    <a class='nav-title' href='/index.html'>
      <h1 class='title'>Mainframe Enzo</h1>
    </a>
    <ul class='nav-list float-right'>
      <li class='nav-item'><a class='nav-link' href='/index.html'>#thingsivemade</a></li>
      <li class='nav-item'><a class='nav-link' href='/about.html'>About</a></li>
    </ul>
  </section>
</nav>