<!DOCTYPE html>
<html lang='en'>
<%- include(`${process.cwd()}/src/frontend/templates.partials/head`); -%>
<body>
  <main class='wrapper'>
    <%- include(`${process.cwd()}/src/frontend/templates.partials/nav`); -%>
    <section class='container'>
      <p class='tagline'>You're doing it wrong.</p>
      <h5 class='title'>Page not found.</h5>
      <p>Nothing to see here.</p>
    </section>
    <%- include(`${process.cwd()}/src/frontend/templates.partials/footer`); -%>
  </main>
</body>
</html>